*{
	margin:0px;
}
body{
	background-color: #ebeef4;
}
header{
	width: 100%;
	height: 50px;
	color:#fff;
	position: relative;
	background-color: red;
}
header h2{
	margin-left: 8%;
	position: absolute;
	top: 15%;
	font-family: sans-serif;
	font-variant: small-caps;
	font-weight: 600;
	font-size: 30px;
}
.loginbutton{
	display: block;
	text-decoration: none;
	color: white;
	font-size: 20px;
	position: absolute;
	right: 18%;
	top: 5%;

}
.loginbutton:hover{
	background-color: orange;
}
.signupbutton{
	display: block;
	text-decoration: none;
	color: white;
	font-size: 20px;
	position: absolute;
	right: 3%;
	top: 5%;
}
.signupbutton:hover{
	background-color: orange;
}
.filters{
	background-color: white;
	height: 400px;
	margin-top: 5%;
	margin-right: 20px;
	padding: 1%;
	border-radius: 5px;
	position: absolute;
	top: 10%;
	left: -10px;
}
.filters ul{
	list-style: none;
	margin:0px;
	padding: 0px;
}
.filters ul li{
	list-style: none;
}
.filters ul li a{
	text-decoration: none;
}
.filters h5{
	color: red;
}
.container{
	position: relative;
}
.card{
	width: 450px;
	padding: 10px;
}
.row{
	margin-top: 2%;
	margin-right: 0px;
}
.card h5{
	color: red;
	font-size: 25px;
}
.card img{
	width: 100px;
	height: 130px;
}
.dropdown button{
	position: absolute;
	right: 10%;
	top: 30px;
}
.dropdown1 button {
    position: absolute;
    top: 6px;
    right: 35px;
}