*{
	margin:0px;
}
body{
	background-color: #ebeef4;
}
header{
	width: 100%;
	height: 50px;
	color:#fff;
	position: relative;
	background-color: red;
}
header h2{
	margin-left: 8%;
	position: absolute;
	top: 15%;
	font-family: sans-serif;
	font-variant: small-caps;
	font-weight: 600;
	font-size: 30px;
}
.dropdown button{
	position: absolute;
	top: 6px;
	right: 35px;
}
.dropdown ul{
	width: 100px;
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
}
.dropdown ul li{
	width: 100%;
	height: 30px;
}
.dropdown ul li a{
	text-decoration: none;
	display: block;
}
.dropdown ul li:hover{
	background-color: #ebeef4;
	display: block;
	color: #fff;
}
.card{
	width: 100%;
	padding: 10px;
	margin-top: 20px;
}
.cart .card{
	height: 200px;
}